<html lang="en" ng-app="SWApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SW Galaxy - Items</title>
    <link rel="icon" type="image/png" href="img/logo3.png">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-sanitize.js"></script>
    <script src="js/angular-material.js"></script>
    <script type="text/javascript"
            src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-fixed-table-header/src/fixed-table-header.js"></script>
    <script type="text/javascript" src="app/module/SWApp.js"></script>
    <link rel="stylesheet" type="text/css"
          href="css/angular-material.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css"
          href="bower_components/angular-material-data-table/dist/md-data-table.min.css"/>
    <link href="css/style.css" rel="stylesheet">
</head>
<body layout="row" ng-controller="TabsController">
<div flex layout="column" class="tab-frame">
    <!-- One tab per entry in the "tabs" constant at the top of SWApp.js, in that
         order. Reorder or add tabs there, not here. -->
    <md-tabs md-border-bottom flex
             md-swipe-content="false"
             md-center-tabs="true"
             md-selected="currentTab">
        <md-tab ng-repeat="tab in tabs">
            <md-tab-label>{{tab.label}}</md-tab-label>
            <md-tab-body>
                <div item-list source-name='{{tab.name}}' source-url='{{tab.url}}' vehicle-class='{{tab.vehicleClass}}' attachment-class='{{tab.attachmentClass}}' node-url='{{tab.nodeUrl}}' node-name='{{tab.nodeName}}' keyDesc='data/json/ItemDescriptors.json' is-active='{{currentTab==$index}}' layout="column" style="height: 100%"></div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
    <!-- One entry per line in the "sourceLines" constant, filtering every tab at
         once. The selection lives in sourceLineSelection and survives a reload.
         Pinned into the tab strip by .source-lines-menu, so it costs no height.
         The icon turns red while anything is switched off. -->
    <md-menu class="source-lines-menu" md-offset="0 4">
        <md-button class="md-icon-button"
                   ng-class="{'md-primary': !allSourceLinesOn()}"
                   ng-click="$mdMenu.open($event)"
                   aria-label="Filter by game line">
            <md-icon md-font-set="material-icons">filter_list</md-icon>
            <md-tooltip md-direction="left">Game lines</md-tooltip>
        </md-button>
        <md-menu-content width="4" class="source-lines-menu-content">
            <md-menu-item ng-repeat="line in sourceLines">
                <md-button ng-click="toggleSourceLine(line.key)"
                           md-prevent-menu-close="md-prevent-menu-close"
                           aria-label="{{line.label}}">
                    <md-icon md-font-set="material-icons" ng-if="isSourceLineEnabled(line.key)">check_box</md-icon>
                    <md-icon md-font-set="material-icons" ng-if="!isSourceLineEnabled(line.key)">check_box_outline_blank</md-icon>
                    {{line.label}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
</body>
</html>